.logo {
    width: 50px;
    height: 50px;
    border-radius:100%;
}

body {
    background-image: url(../images/61381d9e4bd300056d6c05a45c39e563.jpeg);
}

.icons {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.nav-item:hover {
    background-color: #8AB89A;
    border-radius: 30px;
}   

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
h1, h5 {
    font-family: "Press Start 2P", "consolas"
}